# flyctl launch added from .gitignore
node_modules
api_responses
.history
build
**\.env*
**\foo*
**\newrelic_agent.log
**\data.json
**\strippedData.json
**\differences.json

# flyctl launch added from .idea\.gitignore
# Default ignored files
.idea\shelf
.idea\workspace.xml
# Editor-based HTTP Client requests
.idea\httpRequests
fly.toml
